proxy:
  service:
    type: ClusterIP
  https:
    enabled: false
hub:
  config:
    Authenticator:
      admin_users:
        - admin
      allowed_users:
        - admin
        - user
    JupyterHub:
      authenticator_class: firstuseauthenticator.FirstUseAuthenticator
    FirstUseAuthenticator:
      create_users: false
singleuser:
  image:
    name: serikulymiras/jupyterhub
    tag: custom-datascience-v2
  cpu:
    limit: 1
    guarantee: 1
  memory:
    limit: 4G
    guarantee: 4G
  storage:
    capacity: 50Gi
  lifecycleHooks:
    postStart:
      exec:
        command:
          - "sh"
          - "-c"
          - |
            rm -rf notebooks
            mkdir -p notebooks/temp
            curl -L https://github.com/Serikuly-Miras/lab/archive/main.tar.gz | tar xz -C notebooks/temp
            mv notebooks/temp/lab-main/notebooks/synced notebooks/
            rm -rf notebooks/temp
  networkPolicy:
    enabled: true
    egressAllowRules:
      privateIPs: true
