grafana:
  persistence:
    enabled: true
    type: sts
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: longhorn
    finalizers:
      - kubernetes.io/pvc-protection
prometheus:
  enabled: true
  prometheusSpec:
    enableOTLPReceiver: true
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    retention: 7d
crds:
  enabled: true
  upgradeJob:
    enabled: true
