grafana:
  persistence:
    enabled: true
    type: sts
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: longhorn
    finalizers:
      - kubernetes.io/pvc-protection
prometheus:
  enabled: true
  prometheusSpec:
    enableOTLPReceiver: true
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    retention: 7d
    additionalScrapeConfigs:
      - job_name: "out-of-cluster-node-exporter"
        scrape_interval: 5s
        static_configs:
          - targets: [
                "192.168.10.20:9100", # pve node-exporter
                "100.73.83.7:9100", # hetzner vps via tailscale IP
              ]
crds:
  enabled: true
  upgradeJob:
    enabled: true
