apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 38.0.1
      helm:
        values: |
          globalArguments:
            - "--global.sendanonymoususage=false"
            - "--global.checknewversion=false"

          ports:
            websecure:
              tls:
                enabled: true
            web:
              redirections:
                entryPoint:
                  to: websecure
                  scheme: https
                  permanent: true

          persistence:
            enabled: true
            size: 1Gi
            storageClass: longhorn

          certificatesResolvers:
            myresolver:
              tailscale: {}

          service:
            enabled: true
            type: LoadBalancer
            annotations:
              tailscale.com/expose: "true"
            spec:
              loadBalancerClass: tailscale

          logs:
            general:
              level: DEBUG
            access:
              enabled: false
