globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

ports:
  websecure:
    tls:
      enabled: true
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

providers:
  kubernetesGateway: {}

service:
  enabled: true
  type: LoadBalancer
  annotations:
    tailscale.com/expose: "true"
  spec:
    loadBalancerClass: tailscale

logs:
  access:
    enabled: false
