global:
  checkNewVersion: false
  sendAnonymousUsage: false

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  postgres-dwh:
    port: 5432
    protocol: TCP
    expose: true
  postgres-ducklake-catalog:
    port: 5433
    protocol: TCP
    expose: true
  postgres-airflow:
    port: 5434
    protocol: TCP
    expose: true

providers:
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true

gateway:
  enabled: true
  listeners:
    websecure:
      protocol: HTTPS
      port: 8443
      hostname: "*.lab.s-miras.com"
      mode: Terminate
      namespacePolicy:
        from: All
      certificateRefs:
        - name: tls-vss
          group: ""
          kind: Secret
    tcp-postgres-dwh:
      protocol: TCP
      port: 5432
      namespacePolicy:
        from: All
    tcp-postgres-ducklake-catalog:
      protocol: TCP
      port: 5433
      namespacePolicy:
        from: All
    tcp-postgres-airflow:
      protocol: TCP
      port: 5434
      namespacePolicy:
        from: All

service:
  enabled: true
  type: LoadBalancer
  annotations:
    tailscale.com/expose: "true"
  spec:
    loadBalancerClass: tailscale

logs:
  access:
    enabled: false
