global:
  checkNewVersion: false
  sendAnonymousUsage: false

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

providers:
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true

gateway:
  enabled: true
  namespacePolicy: All
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.lab.s-miras.com"
      tls:
        mode: Terminate
        certificateRefs:
          - name: tls-vss
            namespace: traefik
            kind: Secret

service:
  enabled: true
  type: LoadBalancer
  annotations:
    tailscale.com/expose: "true"
  spec:
    loadBalancerClass: tailscale

logs:
  access:
    enabled: false
